Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Cors
python-dotenv
PyPDF2
langchain
google-generativeai
numpy
werkzeug
scikit-learn
psycopg2-binary
gunicorn
trafilatura
yt-dlp
openai-whisper
Flask-Migrate
Flask-Mail
sentence-transformers