--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchaudio==2.3.1
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Cors
python-dotenv
PyPDF2
langchain
google-generativeai
numpy
werkzeug
scikit-learn
psycopg[binary]
gunicorn
trafilatura
yt-dlp
openai-whisper
Flask-Migrate
Flask-Mail
sentence-transformers